// Shared styles
@mixin before-styling {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  mix-blend-mode: overlay;
  box-sizing: border-box;
}

// Flag
.flag {
  display: inline-block;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  &.size {
    &-s {
      width: 16px;
      height: 12px;

      &.drop-shadow {
        box-shadow: 0 0 1px 0.5px rgba(0,0,0,0.10);
      }

      &.border-radius {
        border-radius: 1px;

        &.border {
          &::before {
            border-radius: 1px;
          }
        }
      }
    }

    &-m {
      width: 20px;
      height: 15px;

      &.drop-shadow {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
      }

      &.border-radius {
        border-radius: 1.5px;

        &.border {
          &::before {
            border-radius: 1.5px;
          }
        }
      }
    }

    &-l {
      width: 32px;
      height: 24px;

      &.drop-shadow {
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.10);
      }

      &.border-radius {
        border-radius: 2px;

        &.border {
          &::before {
            border-radius: 2px;
          }
        }
      }
    }
  }

  &.border {
    &::before {
      @include before-styling();
      border: 1px solid rgba(0, 0, 0, .5);
      mix-blend-mode: overlay;
    }
  }

  &.top-down {
    &::before {
      @include before-styling();
      background-image: linear-gradient(0deg, rgba(0,0,0,0.30) 2%, rgba(255,255,255,0.70) 100%);
    }
  }

  &.real-linear {
    &::before {
      @include before-styling();
      background-image: linear-gradient(45deg, rgba(0,0,0,0.20) 0%, rgba(39,39,39,0.22) 11%, rgba(255,255,255,0.30) 27%, rgba(0,0,0,0.24) 41%, rgba(0,0,0,0.55) 52%, rgba(255,255,255,0.26) 63%, rgba(0,0,0,0.27) 74%, rgba(255,255,255,0.30) 100%);
    }
  }

  &.real-circular {
    &::before {
      @include before-styling();
      background: radial-gradient(107.48% 114.58% at 50% 14.58%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.24) 28.93%, rgba(0, 0, 0, 0.55) 46.3%, rgba(255, 255, 255, 0.26) 60.57%, rgba(0, 0, 0, 0.17) 72.67%, rgba(255, 255, 255, 0.30) 100%);
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
